.header-holder {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: rgb(44, 43, 43);
    z-index: 1;
    margin-top: 0;
}

.link-header {
    text-decoration: none;
}

.header-name {
    color: white;
    padding: 0;
    margin-left: 40px;
    margin-top: -42px;
    font-size: 1.35rem;
}

.icon-reddit {
    padding-top: 1.3rem;
    color: rgb(219, 151, 74);
    margin-left: 2px;
    padding-bottom: 10px;
}

.header-name:hover {
    cursor: pointer;
}

@media (min-width: 320px) and (max-width:441px) {
    .header-holder{
        position: relative;
        margin-top: 0;
        margin-bottom: 0px;
    flex-wrap: wrap;
    justify-content: center;
    }

}

@media only screen and (min-width: 760px) and (max-width:830px) {
    .header-holder {
        margin-right: 0;
    }
    
}