.search-form {
margin: 0 300px;
display: flex;
align-items: center;
}

.search-input {
    width: 410px;
    height: 35px;
    border-radius: 25px;
    background-color: rgb(139, 136, 132);
    border: none;
}

::placeholder {
    color: rgb(13, 13, 12);
    font-size: 0.9rem;
    padding-left: 7px;
}

.search-icon {
    font-size: 1rem;
    color: black;
}