.communities-container {
    position: absolute;
    left: 15%;
    top: 1%;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 200px;
    background-color: rgb(36, 36, 36);
    color: aliceblue;
    margin: 0;
    padding: 0;
}

.communities-header {
    display: flex;
    flex-direction: row;
    font-size: 13px;
    color:  rgb(97, 96, 96);
    padding-left: 15px;
    margin: 5px;
}

.communities-list {
    text-decoration: none;
    color: black;
}