body {
  margin: 0;
  background-color: black;
  font-family: 'Inconsolata', monospace;
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Syne Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
